<div class="sidebar d-flex flex-column flex-shrink-0 justify-content-center p-3" style="width: 290px;">
    <a routerLink="" class="w-100 justify-content-center d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img class="logo" src="./assets/imagens/Logo.png" alt="">
    </a>
    
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="user mb-3 px-3">
        <img src="https://static.vecteezy.com/system/resources/previews/009/267/561/original/user-icon-design-free-png.png" width="35" height="35" alt=""><span>{{ userActive }}</span>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active" class="d-flex nav-link mb-3">
            <p>
              <i class="fa-solid fa-chart-line"></i>
            </p>
            <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a routerLink="/unidades" routerLinkActive="active" class="d-flex nav-link">
            <p>
              <i class="fa-solid fa-solar-panel"></i>
            </p>
            <p>Unidade Consumidora</p>
        </a>
      </li>
      <li>
        <a routerLink="/cadastro" routerLinkActive="active" class=" d-flex nav-link">
            <p>
              <i class="fa-solid fa-bolt"></i>
            </p>
            <p>Cadastro de energia gerada</p>
        </a>
      </li>
      <li>
        <a (click)="logoff()" routerLink="" class=" d-flex nav-link">
            <p>
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </p>
            <p>Sair</p>
        </a>
      </li>
    </ul>
  </div>
