<div class="principal">
    <pro-sidebar></pro-sidebar>
    <div class="content">
        <div class="container title">
            <h1>Lançamento de geração mensal</h1>
        </div>
        <div class="container d-flex">
            <form #form="ngForm" (ngSubmit)="cadastrarLancamento(); form.reset()">
                <div class="mb-3">
                    <label class="form-label">Unidade Geradora:</label>
                    <select
                    [(ngModel)]="novaGeracao.id_unid"
                    class="form-select" 
                    name="unidade"
                    required>
                        <option [value]="0" disabled>Selecione a unidade</option>
                        <option *ngFor="let unidade of listaUnidadesAtivas" [ngValue]=" unidade.id ">{{ unidade.apelido }}</option>
                    </select>
                    <small *ngIf="!unidadeFoiSelecionada" class="text-danger" >*Selecione a Unidade</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mês/ano</label> <br>
                    <input 
                    [(ngModel)]="novaGeracao.data" 
                    name="mesAno" 
                    type="month" 
                    class="mesAno"
                    required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Total KW gerado:</label> <br>
                    <input 
                    [(ngModel)]="novaGeracao.kw" 
                    name="kw" 
                    type="number" 
                    min="1"
                    placeholder="Ex: 75"
                    required>
                </div>
                <button 
                type="submit"
                [disabled]="!form.valid">Cadastrar</button>
            </form>
            <div class="container d-flex align-items-center ">
                <img class="rounded mt-4" src="./assets/imagens/energia-solar.png" style="width: 500px;" alt="energia solar">
            </div>
        </div>

    </div>
</div>
<pro-footer></pro-footer>
