.principal{
    display: flex;
    background-color: #FAFAFA;
}
.content{
    width: 100%;
    .title{
        background-color: #ffffff;
        padding: 15px;
    }
}

.container > h2{
    font-size: 28px;
    font-weight: 700;
    color: #374557;
    margin-bottom: 20px;
    margin-top: 20px;
}

form{
    button{
        margin-top: 20px;
        width: 200px;
        padding: 10px 20px;
        border-radius: 20px;
        gap: 24px;
        background-color: #4c5df1;
        box-shadow: 0 20px 50px #37455723;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        border: none;
    }
}